button {
  padding: 15px;
  color: #222222;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  font-weight: bold;
  transition: all .2s ease;

  &:hover {
    background-color: rgba(0,0,0,.2);
  }
}
