
.item-container {
  display: flex;
  margin: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  color: #222222;

  img {
    width: 80px;
    object-fit: cover;
  }

  .info-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 20px;
  }

  .right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    button {
      padding: 0;
      border: none;

      &:hover {
        transform: scale(1.2);
        background-color: transparent;
      }

      .delete-icon {
        font-size: 20px;
        color: #E73C2E;
      }
    }
  }
}

