.container {
  display: flex;

  .items-container {
    flex-grow: 1;
  }

  .resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, .2);

    h3 {
      font-size: 25px;
    }

    span {
      color: #222222;
      font-weight: bold;
    }
  }
}

@media (max-width: 706px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}


