
.product {
  position: relative;
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 20px;
  /* height: 560px;*/

  img {
    width: 100%;
    height: 560px;
    object-fit: cover;
  }

  h3 {
    margin: 20px 0;
    color: #222222;
    font-weight: bold;
    text-align: center;
  }

  .price-text {
    position: absolute;
    right: 20px;
    bottom: 15px;
    color: #222222;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
  }

  .check-icon {
    font-size: 40px;
    color: #00F87C;
  }
}

@media (max-width: 1110px) {
  .product {
    width: 50%;
  }
}

@media (max-width: 706px) {
  .product {
    width: 100%;
  }
}
