header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  position: relative;

  h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    background-color: #FFFFFF;
    color: #222222;
  }

  .shop-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    font-size: 40px;
    color: #222222;
    background-color: #FFFFFF;
  }

  .middle-line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, .2);
  }

  .total-products-text {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    right: 32px;
    top: 31px;
    color: #222222;
  }
}
